<div class="wrapper">
  <div class="header">
    <div class="header__left">
      <img src="assets/logo.png" alt="Rave" class="logo">
    </div>
    <div class="header__right">
      <a href="/" class="header__link">Home</a>
      <a href="/schedules" class="header__link">Schedules</a>
      <a href="/transports" class="header__link">Transports</a>
      <a href="/hangars" class="header__link">Hangars</a>
      <a href="/pilots" class="header__link">Pilots</a>
      <button class="header__link" mat-raised-button color="primary" (click)="logOut()">Logout</button>
      <div class="header__user">
      </div>
    </div>
  </div>
  <div class="main">
    <div class="input">
      <mat-form-field class="input__field">
        <mat-label>Tail Number</mat-label>
        <input  matInput type="text" name="tailNumberInput" ngModel="RF-" #tailNumberInput = "ngModel"  pattern="RF-\d{5}$">
        <div [hidden]="tailNumberInput.valid || tailNumberInput.untouched" class="alert alert-danger">
          "RF-*****" is required
        </div>
        <button mat-button matSuffix mat-icon-button aria-label="Clear">
        </button>
      </mat-form-field>
      <mat-form-field class="input__field">
        <mat-label>Capacity</mat-label>
        <input matInput type="number" name="capacityInput" ngModel="1" #capacityInput = "ngModel" >
        <div [hidden]="capacityInput.value > 0 || capacityInput.untouched" class="alert alert-danger">
          Must be > 0
        </div>
        <button mat-button matSuffix mat-icon-button aria-label="Clear">
        </button>
      </mat-form-field>
      <mat-form-field class="input__field">
        <mat-label>Flight Range</mat-label>
        <input matInput type="number" name="flightRangeInput" ngModel="1" #flightRangeInput = "ngModel" >
        <div [hidden]="flightRangeInput.value > 0 || flightRangeInput.untouched" class="alert alert-danger">
          Must be > 0
        </div>
        <button mat-button matSuffix mat-icon-button aria-label="Clear">
        </button>
      </mat-form-field>
      <mat-form-field class="input__field">
        <mat-label>Model</mat-label>
        <input matInput type="text" name="modelInput" ngModel="" #modelInput = "ngModel" pattern="[А-я]+-[0-9]*[А-Я]*$">
        <div [hidden]="modelInput.valid || modelInput.untouched" class="alert alert-danger">
          Unknown model
        </div>
        <button mat-button matSuffix mat-icon-button aria-label="Clear">
        </button>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Type</mat-label>
        <select matNativeControl [(ngModel)]="planeType" #typeInput = "ngModel" >
          <option value="Plane">Plane</option>
          <option value="Helicopter">Helicopter</option>
        </select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Hangar</mat-label>
        <mat-select  (click)="getHangarsByType()" ngModel="" #hangarInput = "ngModel">
          <mat-option *ngFor="let hangar of hangarsOfType" [value]="hangar">{{ hangar.hangarId }}</mat-option>
        </mat-select>

      </mat-form-field>

      <button class="header__link" mat-raised-button color="primary" [disabled]="!tailNumberInput.valid ||
      !capacityInput.valid || capacityInput.value <= 0 || flightRangeInput.value <= 0 && !modelInput.valid ||
      hangarInput.untouched" (click)="saveTransport({
      tailNumber: tailNumberInput.value,
      capacity: capacityInput.value,
      flightRange: flightRangeInput.value,
      model: modelInput.value,
      spaceLeft: capacityInput.value,
      type: typeInput.value,
      hangar: hangarInput.value
      }, hangarInput.value.hangarId)">Save
      </button>

    </div>


    <table mat-table [dataSource]="transports" class="mat-elevation-z8">
      <ng-container matColumnDef="Hangar">
        <th mat-header-cell *matHeaderCellDef> Hangar</th>
        <td mat-cell *matCellDef="let element"> {{element.hangar == null ? "" : element.hangar.hangarId}} </td>
      </ng-container>

      <ng-container matColumnDef="tailNumber">
        <th mat-header-cell *matHeaderCellDef> tailNumber</th>
        <td mat-cell *matCellDef="let element"> {{element.tailNumber}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Type</th>
        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
      </ng-container>

      <ng-container matColumnDef="capacity">
        <th mat-header-cell *matHeaderCellDef> capacity</th>
        <td mat-cell *matCellDef="let element"> {{element.capacity}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="flightRange">
        <th mat-header-cell *matHeaderCellDef> flightRange</th>
        <td mat-cell *matCellDef="let element"> {{element.flightRange}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="model">
        <th mat-header-cell *matHeaderCellDef> Model</th>
        <td mat-cell *matCellDef="let element"> {{element.model}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div>
      <mat-form-field class="input__field">
        <mat-label>Tail Number</mat-label>
        <input matInput type="text" #tailNumberBtn>
        <button mat-button matSuffix mat-icon-button aria-label="Clear">
        </button>
      </mat-form-field>

      <button class="header__link" mat-raised-button color="primary" (click)="deleteTransport(tailNumberBtn.value)">
        Delete
      </button>
    </div>
    <div class="footer">
      <span>Copyright 1999-2021 by References Data. All Rights Reserved. </span>
    </div>
  </div>
</div>
