table {
  width: 100%;
}

th, td {
  width: 20%;
}
.wrapper {
  width: 100%;
  height: 100%;
  background: #171717;
  color: white;
  display: flex;
  flex-direction: column;
}

.header {
  flex: 1 0 10%;
  display: flex;
}

.header__left {
  flex: 0 1 60%;
}

.header__right {
  flex: 0 1 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header__link {

}

.header__user {

}

.main {
  flex: 1 0 60%;
  display: flex;
  flex-direction: column;
}

.main__left {
  flex: 0 1 50%;
  font-size: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.main__phrase {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.main__order {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 60%;
}

.main__span {
  flex: 0 1 33.33%;
}

.main__right {
  flex: 0 1 50%;
}

.main__button {
  font-size: 30px;
  color: deeppink;
}

.footer {
  flex: 0 1 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: darkgray;
}

.logo{
  padding-left: 15%;
  width: 10%;
}
