<div class="wrapper">
  <div class="header">
    <div class="header__left">
      <img src="assets/logo.png" alt="Rave" class="logo">
    </div>
    <div  class="header__right">
      <a href="/" class="header__link">Home</a>
      <a href="/schedules" class="header__link">Schedules</a>
      <a *ngIf="isAdmin()"  href="/transports" class="header__link">Transports</a>
      <a *ngIf="isAdmin()"  href="/hangars" class="header__link">Hangars</a>
      <a *ngIf="isAdmin()"  href="/pilots" class="header__link">Pilots</a>

      <button class="header__link" mat-raised-button color="primary" (click)="logOut()">Logout</button>
      <div class="header__user">

      </div>
    </div>
  </div>
  <div class="main">



    <table mat-table [dataSource]="schedules" class="mat-elevation-z8">
      <ng-container matColumnDef="Flight Id">
        <th mat-header-cell *matHeaderCellDef> Flight Id </th>
        <td mat-cell *matCellDef="let element"> {{element.flightId}} </td>
      </ng-container>

      <ng-container matColumnDef="Departure Time">
        <th mat-header-cell *matHeaderCellDef> Departure Time </th>
        <td mat-cell *matCellDef="let element"> {{element.departureTime}} </td>
      </ng-container>

      <ng-container matColumnDef="Pilot">
        <th mat-header-cell *matHeaderCellDef> Pilot </th>
        <td mat-cell *matCellDef="let element"> {{element.pilot.firstName + " " + element.pilot.lastName}} </td>
      </ng-container>



      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>


    <div class="footer">
      <span>Copyright 1999-2021 by References Data. All Rights Reserved. </span>
    </div>
  </div>
