.wrapper{
  width: 100%;
  height: 100%;
  background: #171717;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.login__element{
  margin-bottom: 5px;
  color: white;
  width: 100%;
}

.btn{
  font-family: inherit;
  background: #c2185b;
  color: white;
  font-size: 20px;
}

span {
  color: #c2185b;
}

.not_login {
  opacity: 0;
}
