<div class="wrapper">
  <div class="login">
    <mat-form-field class="login__element">
      <mat-label>Login</mat-label>
      <input matInput #log>
    </mat-form-field>
    <mat-form-field class="login__element">
      <mat-label>Password</mat-label>
      <input matInput #password type="password" (keydown.enter)="login(log.value, password.value)">
    </mat-form-field>
    <button class="login__element btn" mat-raised-button color="primary" (click)="login(log.value, password.value)">Login</button>
    <span [class.not_login]="!isNotLogin">Wrong login or password</span>
  </div>
</div>


