<div class="wrapper">
  <div class="header">
    <div class="header__left">
      <img src="assets/logo.png" alt="Rave" class="logo">
    </div>
    <div  class="header__right">
      <a href="/" class="header__link">Home</a>
      <a href="/schedules" class="header__link">Schedules</a>
      <a href="/transports" class="header__link">Transports</a>
      <a href="/hangars" class="header__link">Hangars</a>
      <a href="/pilots" class="header__link">Pilots</a>

      <button class="header__link" mat-raised-button color="primary" (click)="logOut()">Logout</button>
      <div class="header__user">

      </div>
    </div>
  </div>
  <div class="main">
    <div class="input">
      <mat-form-field class="input__field">
        <mat-label>Color</mat-label>
        <input matInput type="text" #colorInput>
        <button mat-button matSuffix mat-icon-button aria-label="Clear">
        </button>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Type</mat-label>
        <select matNativeControl  #typeInput >
          <option value="Plane">Plane</option>
          <option value="Helicopter">Helicopter</option>
        </select>
      </mat-form-field>

      <button class="header__link" mat-raised-button color="primary" (click)="saveHangar(
      {
      color: colorInput.value,
      hangarType: typeInput.value
      }
      )">Save</button>

    </div>


    <table mat-table [dataSource]="hangars" class="mat-elevation-z8">
      <ng-container matColumnDef="HangarId">
        <th mat-header-cell *matHeaderCellDef> Hangar </th>
        <td mat-cell *matCellDef="let element"> {{element.hangarId}} </td>
      </ng-container>

      <ng-container matColumnDef="Color">
        <th mat-header-cell *matHeaderCellDef> Color </th>
        <td mat-cell *matCellDef="let element"> {{element.color}} </td>
      </ng-container>

      <ng-container matColumnDef="Type">
        <th mat-header-cell *matHeaderCellDef> Hangar Type </th>
        <td mat-cell *matCellDef="let element"> {{element.hangarType}} </td>
      </ng-container>

      <ng-container matColumnDef="Empty">
        <th mat-header-cell *matHeaderCellDef> Empty? </th>
        <td mat-cell *matCellDef="let element"> {{element.empty}} </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div>
      <mat-form-field class="input__field">
        <mat-label>Hangar Id</mat-label>
        <input matInput type="number" #hangarIdBtn>
        <button mat-button  matSuffix mat-icon-button aria-label="Clear">
        </button>
      </mat-form-field>

      <button class="header__link" mat-raised-button color="primary" (click)="deleteHangar(hangarIdBtn.valueAsNumber)">Delete</button>
    </div>

  </div>
  <div class="footer">
    <span>Copyright 1999-2021 by References Data. All Rights Reserved. </span>
  </div>
</div>
