<div class="wrapper">
  <div class="header">
    <div class="header__left">
      <img src="assets/logo.png" alt="Rave" class="logo">
    </div>
    <div  class="header__right">
      <a href="/" class="header__link">Home</a>
      <a href="/schedules" class="header__link">Schedules</a>
      <a *ngIf="isAdmin()" href="/transports" class="header__link">Transports</a>
      <a *ngIf="isAdmin()" href="/hangars" class="header__link">Hangars</a>
      <a *ngIf="isAdmin()" href="/pilots" class="header__link">Pilots</a>

      <button class="header__link" mat-raised-button color="primary" (click)="logOut()">Logout</button>
      <div class="header__user">

      </div>
    </div>
  </div>
  <div class="main">
    <div class="main__left">
      <div class="main__phrase">
        <span class="main__span">Order</span>
        <span class="main__span">Departure</span>
        <span class="main__span">Now</span>
      </div>
    </div>
    <div class="main__right">
      <div class="main__order">
        <mat-form-field appearance="fill">
          <mat-label>Transport</mat-label>
          <mat-select #transport>
            <mat-option *ngFor="let transport of transports" [value]="transport">{{ transport.model }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Pilot</mat-label>
          <mat-select #pilot>
            <mat-option *ngFor="let pilot of pilots" [value]="pilot">{{ pilot.firstName + ' ' + pilot.lastName }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Choose a date</mat-label>
          <input type="text" matInput [matDatepicker]="picker" [(ngModel)]="date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <button class="main__button" mat-button color="primary" (click)="schedule(transport.value, pilot.value)">Order</button>
      </div>
    </div>
  </div>
  <div class="footer">
    <span>Copyright 1999-2021 by References Data. All Rights Reserved. </span>
  </div>
</div>

