<div class="wrapper">
  <div class="header">
    <div class="header__left">
      <img src="assets/logo.png" alt="Rave" class="logo">
    </div>
    <div  class="header__right">
      <a href="/" class="header__link">Home</a>
      <a href="/schedules" class="header__link">Schedules</a>
      <a href="/transports" class="header__link">Transports</a>
      <a href="/hangars" class="header__link">Hangars</a>
      <a href="/pilots" class="header__link">Pilots</a>

      <button class="header__link" mat-raised-button color="primary" (click)="logOut()">Logout</button>
      <div class="header__user">

      </div>
    </div>
  </div>
  <div class="main">
    <div class="input">
      <mat-form-field class="input__field" >
        <mat-label>First Name</mat-label>
        <input matInput type="text" name="firstNameInput" ngModel="" #firstNameInput = "ngModel" pattern="[А-Я][а-я]+$">
        <div [hidden]="firstNameInput.valid && (firstNameInput.dirty || firstNameInput.untouched)" class="alert alert-danger">
          First Name is required
        </div>
      </mat-form-field>
      <mat-form-field class="input__field">
        <mat-label>Last Name</mat-label>
        <input matInput type="text" name="lastNameInput" ngModel="" #lastNameInput = "ngModel" pattern="[А-Я][а-я]+$">
        <div [hidden]="lastNameInput.valid && (lastNameInput.dirty || lastNameInput.untouched)" class="alert alert-danger">
          Last Name is required
        </div>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Type</mat-label>
        <select matNativeControl #categoryInput >
          <option value="1st Pilot">1st Pilot</option>
          <option value="2nd Pilot">2nd Pilot</option>
          <option value="Cabin boy">Cabin boy</option>
        </select>
      </mat-form-field>
      <mat-form-field class="input__field">
        <mat-label>Login</mat-label>
        <input matInput type="text" name="login" ngModel="" #login = "ngModel" pattern="[A-z]{5,}$">
        <div [hidden]="login.valid && (login.dirty || login.untouched)" class="alert alert-danger">
          Login not correct
        </div>
      </mat-form-field>
      <mat-form-field class="input__field">
        <mat-label>Password</mat-label>
        <input matInput type="text" name="password" ngModel="" #password = "ngModel" pattern="[A-z0-9]{5,}$">
        <div [hidden]="password.valid && (password.dirty || password.untouched)" class="alert alert-danger">
          Must be at least 5 symbols
        </div>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Type</mat-label>
        <select matNativeControl #roleInput >
          <option value="ADMIN">Admin</option>
          <option value="PILOT">Pilot</option>
        </select>
      </mat-form-field>

      <button class="header__link" mat-raised-button color="primary" [disabled]="(!firstNameInput.valid
      || !lastNameInput.valid || !login.valid || !password.valid) || (!firstNameInput.dirty || !lastNameInput.dirty
      || !login.dirty || !password.dirty)" (click)="savePilot({
        firstName: firstNameInput.value,
        lastName: lastNameInput.value,
        category: categoryInput.value,
        login: login.value,
        password: password.value,
        role: roleInput.value
      })">Save</button>

    </div>


    <table mat-table [dataSource]="pilots" class="mat-elevation-z8">
      <ng-container matColumnDef="EmployeeId">
        <th mat-header-cell *matHeaderCellDef> EmployeeId </th>
        <td mat-cell *matCellDef="let element"> {{element.employeeId}} </td>
      </ng-container>

      <ng-container matColumnDef="Category">
        <th mat-header-cell *matHeaderCellDef> Category </th>
        <td mat-cell *matCellDef="let element"> {{element.category}} </td>
      </ng-container>

      <ng-container matColumnDef="FirstName">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
      </ng-container>

      <ng-container matColumnDef="LastName">
        <th mat-header-cell *matHeaderCellDef> LastName </th>
        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
      </ng-container>

      <ng-container matColumnDef="Login">
        <th mat-header-cell *matHeaderCellDef> Login </th>
        <td mat-cell *matCellDef="let element"> {{element.login}} </td>
      </ng-container>

      <ng-container matColumnDef="Role">
        <th mat-header-cell *matHeaderCellDef> Role </th>
        <td mat-cell *matCellDef="let element"> {{element.role}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div>
    <mat-form-field class="input__field">
      <mat-label>Pilot Id</mat-label>
      <input matInput type="number" #pilotIdBtn>
      <button mat-button  matSuffix mat-icon-button aria-label="Clear">
      </button>
    </mat-form-field>

    <button class="header__link" mat-raised-button color="primary" (click)="deletePilot(pilotIdBtn.valueAsNumber)">Delete</button>


  </div>
  <div class="footer">
    <span>Copyright 1999-2021 by References Data. All Rights Reserved. </span>
  </div>
</div>
