
html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover
{
  color: inherit;
  text-decoration:none;
  cursor:pointer;
}
